@keyframes rotateArrow {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(20deg); /* Adjust the rotation angle */
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .arrowContainer {
    position: relative;
  }
  
  .arrow {
    animation: rotateArrow 2s infinite; /* Adjust the duration of the animation */
  }