@keyframes rotateArrow {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(20deg); 
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .arrowContainer {
    position: relative;
  }
  
  .arrow {
    animation: rotateArrow 2s infinite; 
  }